.frame {
  margin: 0 auto;
  text-align: center;

  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
  max-height: calc(100svh - #{$page--padding * 2});
  display: flex;
  position: relative;
  text-align: left;

  overflow: hidden;

  &--sm {
    max-height: 30vh;
    margin: 1rem auto;
  }



  &--fit {
    // min-height: 80vh;
    max-width: calc(100vw - #{$page--padding});

    @media screen and (min-width: 800px) {
      aspect-ratio: 2/3;
    }


  }


  img:not(.frame__outline) {
    object-fit: contain;
  }


  &--masked {
    mask-image: var(--mask-url);
    mask-size: 100% 100%;

    img:not(.frame__outline) {
      object-fit: cover;
    }
  }

  &--scroller {
    mask-image: none;
    max-height: none;
  }

  &--hoverable {
    cursor: pointer;
  }

  &__element {
    position: absolute;
  }

  &__asset,
  &__asset--hover {
    width: 100%;
    // height: 100%;
    object-fit: contain;
  }

  &__asset--hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &--filled {
    background: $color--frame-bg;
    color: white;
    padding: $gutter--md;

    .frame__text {
      align-self: center;
    }

    @media screen and (max-width: 800px) {
      padding: $gutter--sm;
      font-size: 12px;
    }
  }

  &__revealable {
    // opacity: 0;
    transition: $transition--base;

    &[shown="true"] {
      opacity: 1;
    }
  }

  &__background {
    z-index: -1;
  }

  &__person,
  &__background {
    position: absolute;
    max-width: 100%;
    bottom: 0;
    left: 0;
  }

  &__outline {
    position: absolute;
    color: $color--text;
    // opacity: 0;
    z-index: 1;
    object-fit: auto;
    transition: $transition--base;
    transition-delay: 2s;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }


  &__button {
    position: absolute;
    left: 50%;
    bottom: 3rem;
    transform: translate3d(-50%, 0, 0);
  }


  &.in-view,
  & {

    .f-s-snow__text,
    .frame__outline,
    .f-s-snow__person {
      opacity: 1;
    }

    .f-s-snow__snow,
    .f-s-snow__snow-wrapper {
      animation-play-state: running;
    }
  }
}