.frame {
  margin: 0 auto;
  text-align: center;

  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
  max-height: calc(100svh - #{$page--padding * 2});
  display: flex;
  position: relative;
  text-align: left;

  @include break($break--mobile) {
    max-height: 100%;
  }

  &--sm {
    max-height: 30vh;
    margin: 1rem auto;
  }

  &--fit {
    // min-height: 80vh;
    max-width: calc(100vw - #{$page--padding});

    @include break($break--mobile) {
      aspect-ratio: 2/3;
    }
  }

  &--masked {
    // mask-image: var(--mask-url);
    // mask-size: 100% 100%;

    // img:not(.frame__outline) {
    //   object-fit: cover;
    // }
  }

  &--scroller {
    mask-image: none;
    max-height: none;
  }

  &--hoverable {
    cursor: pointer;
  }

  &__element {
    position: absolute;
    opacity: 1;
    transition: opacity 0.41s linear;
  }

  &__asset,
  &__asset--hover {
    width: 100%;
    // height: 100%;
    object-fit: cover;
  }

  &__asset-text {
    background-image: url("../assets/images/gui/text-bg.png");
    object-fit: contain;
  }
  &__asset--contain {
    object-fit: contain;
  }

  &__asset--hover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &--filled {
    background: $color--frame-bg;
    color: white;
    padding: $gutter--md;

    .frame__text {
      align-self: center;
    }

    @media screen and (max-width: 800px) {
      padding: $gutter--sm;
      font-size: 12px;
    }
  }

  &__background {
    z-index: -1;
  }

  &__person,
  &__background {
    position: absolute;
    max-width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    top: 0;
  }

  &__outline {
    position: absolute;
    color: $color--text;
    z-index: 1;
    object-fit: auto;
    // transition: $transition--base;
    transition: opacity 2s;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
  }
}
