$offset: 2rem;
$border: 35px;

body:has(.menu--prikbord) {
  overflow: hidden;
}

.menu {
  &--prikbord {
    position: fixed;
    top: 50%;
    left: 50%;

    z-index: 2;
    padding: 1rem;
    display: flex;
    max-width: min(1400px, calc(100vw - $offset * 2));
    aspect-ratio: 19 / 13;
    max-height: calc(100% - #{$offset * 2 * 1.5});
    width: 100%;

    @include break-min($break--mobile) {
      transform: translate3d(-50%, -50%, 0);
    }

    @include break($break--mobile) {
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      top: 0;
      left: 0;
      transform: translate3d(0px, 0%, 0px);
    }

    &:after,
    &:before,
    .menu__border {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    &:before {
      @include break($break--mobile) {
        height: 110%;
        top: -10%;
      }
    }

    &:before {
      background: var(--blue-op);

      @include break($break--mobile) {
        transform: scale(1);
      }
    }

    .menu__border {
      background-image: none;
      z-index: 9;
      border: $border solid blue;
      border-image: url("@/assets/images/gui/border-image.png") 630 / #{$border * 1.2};

      @include break($break--mobile) {
        display: none;
      }
    }
  }

  &__cursor {
    width: 350px;
    height: 350px;
    top: 0;
    left: 0;
    z-index: 20;
    position: fixed;
    background-image: url("@/assets/images/gui/glow.png");
    background-size: contain;
    background-position: 40% center;
    background-repeat: no-repeat;
    transition: 0.3s ease-out;
    opacity: 0.3;
    pointer-events: none;
  }

  &__meter {
    position: fixed;
    left: 50%;
    bottom: 32px;
    width: calc(100% - 32px);
    z-index: 3;
    transform: translate3d(-50%, 0, 0);
    max-width: 600px;

    @include break($break--mobile) {
      bottom: 10px;
    }
  }

  &__backdrop {
    position: absolute;
    background-color: #e8e3d1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }

  &__close {
    position: absolute;
    bottom: 5rem;
    right: 5rem;
    z-index: 190;
  }

  &__frame {
    padding: 50px;
    transition: 0.4s cubic-bezier(0.2, 0, 0, 1);
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;

    &.dragging {
      transition: none;
    }

    &.static {
      padding: 0 0;
      filter: blur(0.71px);
    }


    @include break($break--mobile) {
      padding: 2px;
    }

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      position: absolute;
      background-image: url("@/assets/images/gui/glow.png");
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
      opacity: 0;
      transition: 0.2s linear;
    }

    &:hover:after {
      opacity: 0.8;
    }

    &:nth-child(2) {
      transform: translate3d(8px, -4px, 0) rotate(5deg) scale(1);
      width: 500px;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      z-index: 3;
      @include break($break--mobile) {
        max-width: 76%;
        max-width: 60%;
      }

      &:hover {
        transform: translate3d(8px, -4px, 0) rotate(0deg) scale(1.01);
      }
    }

    &:nth-child(3) {
      top: auto;
      bottom: 5%;
      left: 15%;
      max-width: 400px;
      transform: translate3d(-50px, 8px, 0) rotate(-8deg) scale(1);
      z-index: 3;

      @include break($break--mobile) {
        max-width: 76%;
        bottom: 15%;
        left: 30%;
        border: 2px soli;
      }

      @include break(1300px) {
        left: auto;
        right: 15%;
      }

      &:hover {
        transform: translate3d(-50px, 8px, 0) rotate(-1deg) scale(1);
      }
    }

    &:nth-child(4) {
      top: auto;
      top: 25%;
      right: 0%;
      left: auto;
      width: 90%;
      max-width: 800px;
      transform: translate3d(-30px, -50px, 0) rotate(-10deg) scale(1);
      z-index: 3;

      @include break($break--mobile) {
        left: 55%;
        bottom: 25%;
        max-width: 500px;
        transform: translate3d(-30px, -50px, 0) rotate(1deg) scale(1);
      }

      &:hover {
        transform: translate3d(-30px, -50px, 0) rotate(-3deg) scale(1.03);
      }
    }

    &:nth-child(5) {
      transform: rotate(-21deg) scale(1);
      width: 100px;
      top: auto;
      bottom: 40px;

      left: 30px;
      height: 50px;
      opacity: 0.8;

      @include break($break--mobile) {
        top: 50%;
      }
    }

    &:nth-child(6) {
      transform: rotate(-21deg) scale(1);
      width: 140px;
      top: 10%;
      right: 0%;
      left: auto;
      opacity: 0.8;

      @include break($break--mobile) {
        right: -10%;
      }
    }
  }
}
