.nav {
	&--audio {
		display: flex;
		justify-content: flex-end;
		padding: 1.5rem;
		z-index: 2;
		opacity: 0;
		position: relative;
		pointer-events: none;
		user-select: none;
		transition: 0.2s linear;
		@include break($break--mobile) {
			padding: 0.75rem 1rem;
		}

		&[visible="true"] {
			opacity: 1;
			pointer-events: all;
		}
	}

	&--bottom {
		position: fixed;
		bottom: calc(env(safe-area-inset-top, 20px) + $page--padding);
		width: 100%;
		gap: 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 2;
		.button {
			min-width: 150px;
			justify-content: center;
		}
	}
	&--multislide {
		position: fixed;
		bottom: 0;
		width: 100%;
		padding: 1rem;
		z-index: 9;
		.nav__vertical,
		.nav__horizontal {
			display: flex;
			gap: 1rem;
			justify-content: center;
			align-items: center;
		}
		.nav__horizontal {
			flex-direction: column;
			position: absolute;
			right: 1rem;
			bottom: 1rem;
		}
		button {
			appearance: none;
			border: none;
			background-color: transparent;
			background-image: url(@assets/gui/arrow.png);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;

			width: 40px;
			height: 40px;

			&[disabled] {
				opacity: 0.5;
			}
			&.up {
				transform: rotate(-90deg);
			}

			&.down {
				transform: rotate(90deg);
			}

			&.left {
				transform: rotate(180deg);
			}
		}
	}
	&--slider {
		position: fixed;
		bottom: 0.5rem;
		width: 100%;
		display: flex;
		justify-content: center;
		gap: 1rem;
		z-index: 9;

		.nav__button {
			width: 50px;
			height: 40px;
			display: block;
			background-image: url(@assets/gui/arrow.png);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			z-index: 2;

			&.left {
				transform: rotate(180deg);
			}

			&:active,
			&:hover {
				opacity: 0.5;
			}

			&[disabled] {
				opacity: 0.6;
			}
		}
	}
}
