.overlay {
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    width: 100%;
    content: "";
    height: 100%;
  }
}

.anim {
  &--bird-away {
    @extend .overlay;
    &:before {
      background-image: url("../assets/frame_5b/frame-3--asset-step2.png");
      background-size: cover;
      opacity: 0;
      transition: .2s linear;
    }

    &:hover:before {
            opacity: 1;
    }
  }
}
