$pt-transition: var(--pt-duration) ease-out;

.frame.intro {
  display: grid;
  grid-template-rows: min-content 80px 1fr 100px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  padding: 10vh 2rem;
  height: 100%;
  perspective: 1200px;
  transition:
    opacity $pt-transition 1s,
    transform $pt-transition;
  will-change: opacity, transform;
  transform: rotateX(0deg) rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: visible;
  width: 100%;

  @include break-min($break--mobile) {
    aspect-ratio: 148 / 210;
  }

  @include break($break--mobile) {
    grid-template-rows: 150px 80px 80px 100px;

    .frame__outline {
      display: none;
    }
  }

  @at-root .page-leave-to & {
    transform: translateZ(100px) scale(0.8) translateY(120px) rotateX(12deg);
    // z-index: -1;
    // opacity: 0;
  }

  .nav--bottom {
    transform: translate3d(0, 0, 0);
    transition:
      transform $pt-transition,
      opacity $pt-transition;

    @at-root .page-leave-to & {
      transform: translate3d(0, 10px, 100px);
      opacity: 0;
    }
  }

  .intro__text {
    transform: translateZ(0px);
    transition:
      opacity $pt-transition,
      transform $pt-transition;
    transform-origin: center bottom;
    object-position: center center;
    object-fit: contain;

    &--top {
      transition:
        transform var(--pt-duration) ease-out 40s,
        opacity var(--pt-duration) ease-out 2s;
    }

    @at-root .page-leave-to & {
      opacity: 0;
    }
  }

  .frame__outline {
    filter: blur(0px);
    transition: .8s linear;

    @at-root .page-leave-to & {
      opacity: 0;
    }
  }

  .frame__background {
    transform-origin: center 90%;
    z-index: 2;
    opacity: 1;

    @at-root .page-leave-to & {
      transform: scale(1.1) translateZ(100px);
      opacity: 0;
    }
  }
}

@keyframes interactive {
  0%,
  5%,
  7%,
  10%,
  35%,
  23%,
  25% {
    opacity: 1;
    transform: skew(0deg);
    filter: hue-rotate(90deg);
  }

  2%,
  4%,
  24% {
    // opacity: 0;
    transform: skew(2deg);
    filter: hue-rotate(3deg);
  }

  8%,
  9%,
  32% {
    // opacity: 0;
    transform: rotate(-18deg);
    filter: hue-rotate(-30deg);
  }
}

.intro__text {
  overflow: hidden;
  width: auto;
  height: auto;
  max-height: 100%;
  object-fit: contain;

  &--top {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }

  &--middle {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &--middle:hover {
    cursor: pointer;
    animation: interactive 4s linear infinite;
  }
}
