.f-s-snow {
  @at-root .chapter-1-enter-from {
    .f-s-snow__text, .f-s-snow__snow, .f-s-snow__person, .frame__outline, .frame__background {
      opacity: 0;
    }
  }

  @at-root .chapter-1-enter-to {
    .f-s-snow__text, .f-s-snow__snow, .f-s-snow__person, .frame__outline, .frame__background {
      opacity: 1;
    }
  }
  &__text {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 40%;
    top: -20px;
    left: 110px;
    z-index: $z-text;
    pointer-events: none;

    @include break($break--mobile) {
      top: 30px;
      left: 20px;
    }
  }

  &__snow-wrapper {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
    z-index: 30;
    animation: snow_wiggle 5s linear infinite;
    pointer-events: none;
  }

  &__snow {
    width: 100%;
    animation: snow 60s linear infinite;
    pointer-events: none;
  }

  &__person {
    object-fit: contain;
    z-index: 10;
  }
}


@keyframes snow {
  from {
    transform: translate3d(0%, -100%, 0);
  }

  to {
    transform: translate3d(0%, 100vh, 0);
  }
}

@keyframes snow_wiggle {

  0%,
  100% {
    transform: translate3d(-5px, 1px, 0);
  }

  20%,
  55% {
    transform: translate3d(-5px, 1px, 0);
  }

  76% {
    transform: translate3d(4px, -1px, 0);
  }

  30% {
    transform: translate3d(2px, 0, 0);
  }
}