@import "variables.scss";

.page {
  // border: 2px solid lightgrey;
  color: var(--blue);
  overflow: hidden;
  min-height: 80svh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $page--padding;
  margin-bottom: 10svh;
  scroll-snap-align: center;

  .page {
    padding: 0 0;
    min-height: auto;
    margin-bottom: unset;
    max-height: auto;
    scroll-snap-align: unset;
  }

  .grid,
  .page {
    align-self: stretch;
  }
  &--spread {
    @extend .page;
    gap: $gap * 2;
    & > .page {
      flex-basis: 50%;
    }
  }

  &--fullwidth {
    @extend .page;
    padding: 0 0;
  }

  //   page specific layouts
  &--3 {
    .frame__asset {
      max-height: 30vh;
    }
  }
}
