$grid--gap: 2rem;

$page--padding: 4rem;
$frame--padding: 1rem;

:root {
  --blue: #025354;
  --blue-op: #0253547a;
  --light: #e8e3d178;
}

$gutter--sm: 0.5rem;
$gutter--md: 1rem;
$gutter--lg: 2rem;
$gutter--xl: 4rem;
$gutter--xxl: 8rem;

$color--body: #e8e3d178;
$color--text: #025354;
$color--frame-bg: #3e7777;
$color--text-alt: $color--body;
$color--backdrop: rgba(232, 227, 209, 0.7);

$transition--base: all 0.4s cubic-bezier(0.25, 0, 0, 1);

// Z-indexes
$z-text: 100;
$z-vis: 40;

$font-family: "Nik";
$break--mobile: 800px;

@mixin break($break-size: $break--mobile) {
  @media screen and (max-width: $break-size) {
    @content;
  }
}

@mixin break-min($break-size: $break--mobile) {
  @media screen and (min-width: $break-size) {
    @content;
  }
}


.flex {
  &--center {
    justify-content: center !important;
    align-items: center !important;
  }
}