:root {
  --blue: #025354;
}

html,
body {
  margin: 0 0;
}

body {
  background-color: rgba(232, 227, 209, 0.4705882353);
  scroll-snap-type: y mandatory;
}

.container {
  width: max-content;
  margin: 0 auto;
  position: relative;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Nik";
  src: local("/assets/fonts/Nik.otf"), url("/assets/fonts/Nik.otf") format("opentype"), url("/assets/fonts/Nik.otf") format("woff");
}
body {
  font-family: "Nik";
  text-align: center;
  line-height: 1.5;
}

.grid {
  display: grid !important;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  height: 100%;
}
.grid .cell {
  grid-column-end: span 3;
  margin: 0 0;
  height: 100%;
}
.grid .cell--w-1 {
  grid-column-end: span 1;
}
.grid .cell--h-1 {
  grid-row-end: span 1;
}
.grid .cell--w-2 {
  grid-column-end: span 2;
}
.grid .cell--h-2 {
  grid-row-end: span 2;
}
.grid .cell--w-3 {
  grid-column-end: span 3;
}
.grid .cell--h-3 {
  grid-row-end: span 3;
}
.grid .cell--w-4 {
  grid-column-end: span 4;
}
.grid .cell--h-4 {
  grid-row-end: span 4;
}
.grid .cell--w-5 {
  grid-column-end: span 5;
}
.grid .cell--h-5 {
  grid-row-end: span 5;
}
.grid .cell--w-6 {
  grid-column-end: span 6;
}
.grid .cell--h-6 {
  grid-row-end: span 6;
}

.page, .page--fullwidth, .page--spread {
  color: var(--blue);
  overflow: hidden;
  min-height: 80svh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  margin-bottom: 10svh;
  scroll-snap-align: center;
}
.page .page, .page--fullwidth .page, .page .page--fullwidth, .page--fullwidth .page--fullwidth, .page--spread .page, .page--spread .page--fullwidth, .page .page--spread, .page--fullwidth .page--spread, .page--spread .page--spread {
  padding: 0 0;
  min-height: auto;
  margin-bottom: unset;
  max-height: auto;
  scroll-snap-align: unset;
}
.page .grid, .page--fullwidth .grid, .page--spread .grid,
.page .page,
.page--fullwidth .page,
.page .page--fullwidth,
.page--fullwidth .page--fullwidth,
.page--spread .page,
.page--spread .page--fullwidth,
.page .page--spread,
.page--fullwidth .page--spread,
.page--spread .page--spread {
  align-self: stretch;
}
.page--spread {
  gap: 4rem;
}
.page--spread > .page, .page--spread > .page--fullwidth, .page--spread > .page--spread {
  flex-basis: 50%;
}
.page--fullwidth {
  padding: 0 0;
}
.page--3 .frame__asset {
  max-height: 30vh;
}

@keyframes snow {
  from {
    transform: translate3d(0%, -100%, 0);
  }
  to {
    transform: translate3d(0%, 100vh, 0);
  }
}
@keyframes snow_wiggle {
  0%, 100% {
    transform: translate3d(-5px, 1px, 0);
  }
  20%, 55% {
    transform: translate3d(-5px, 1px, 0);
  }
  76% {
    transform: translate3d(4px, -1px, 0);
  }
  30% {
    transform: translate3d(2px, 0, 0);
  }
}
.overlay, .anim--bird-away {
  position: relative;
}
.overlay:before, .anim--bird-away:before {
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  width: 100%;
  content: "";
  height: 100%;
}

.anim--bird-away:before {
  background-image: url("../assets/frame_5b/frame-3--asset-step2.png");
  background-size: cover;
  opacity: 0;
  transition: 0.2s linear;
}
.anim--bird-away:hover:before {
  opacity: 1;
}

.overlay, .anim--bird-away {
  position: relative;
}
.overlay:before, .anim--bird-away:before {
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  width: 100%;
  content: "";
  height: 100%;
}

.anim--bird-away:before {
  background-image: url("../assets/frame_5b/frame-3--asset-step2.png");
  background-size: cover;
  opacity: 0;
  transition: 0.2s linear;
}
.anim--bird-away:hover:before {
  opacity: 1;
}

.frame {
  --mask-url: url(/assets/frame_2/frame_mask.svg);
  margin: 0 auto;
  text-align: center;
  mask-image: var(--mask-url);
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center center;
  max-height: calc(100svh - 8rem);
  display: flex;
  position: relative;
}
.frame img {
  object-fit: contain;
}
.frame--scroller {
  mask-image: none;
  max-height: none;
}
.frame-group {
  display: flex;
  flex-gap: 2rem;
}
.frame--fit {
  aspect-ratio: 2/3;
  min-height: calc(100svh - 8rem);
}
.frame--dummy {
  background: red;
  min-width: 100px;
  min-height: 100px;
}
.frame__text {
  text-align: left;
}
.frame__element {
  position: absolute;
  border: 2px solid red;
}
.frame--background {
  background: #3E7777;
  color: white;
  padding: 1rem;
}
.frame--background .frame__text {
  align-self: center;
}
.frame--1 .frame__text {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 40%;
  top: 5%;
  left: 5%;
  z-index: 100;
  transition: opacity 4s cubic-bezier(0.2, 0, 0, 1);
  transition-delay: 4s;
  opacity: 0;
  pointer-events: none;
}
.frame__snow-wrapper {
  position: absolute;
  max-width: 100%;
  top: 0;
  left: 0;
  z-index: 30;
  animation: snow_wiggle 5s linear infinite;
  animation-play-state: paused;
  pointer-events: none;
}
.frame__snow {
  width: 100%;
  animation: snow 60s linear infinite;
  animation-play-state: paused;
  pointer-events: none;
}
.frame__revealable {
  opacity: 0;
  transition: 1s linear;
}
.frame__revealable[shown=true] {
  opacity: 1;
}
.frame__background {
  z-index: 1;
}
.frame__person {
  opacity: 0;
  transition-delay: 1s;
  transition: opacity 4s cubic-bezier(0.2, 0, 0, 1);
  transition-delay: 3s;
  z-index: 10;
}
.frame__person, .frame__background {
  position: absolute;
  max-width: 100%;
  bottom: 0;
  left: 0;
}
.frame__outline {
  position: absolute;
  color: var(--blue);
  opacity: 0;
  transition: opacity 4s cubic-bezier(0.2, 0, 0, 1);
  transition-delay: 2s;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.frame.in-view .frame__text,
.frame.in-view .frame__outline,
.frame.in-view .frame__person, .frame .frame__text,
.frame .frame__outline,
.frame .frame__person {
  opacity: 1;
}
.frame.in-view .frame__snow,
.frame.in-view .frame__snow-wrapper, .frame .frame__snow,
.frame .frame__snow-wrapper {
  animation-play-state: running;
}

.nav--wrapper {
  color: blue;
  position: fixed;
  top: 3rem;
  left: 3rem;
  right: 3rem;
  bottom: 3rem;
  z-index: 2;
  background-image: url("../assets/chapter_2/menu/background.png");
  background-size: cover;
  padding: 2rem;
  display: flex;
  display: none;
  border: 2px solid green;
}
.nav--wrapper:before {
  content: "";
  position: fixed;
  pointer-events: none;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  z-index: 2;
  background-image: url("../assets/chapter_2/menu/background_border.png");
  background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.nav__frame {
  padding: 50px;
  transition: 0.4s cubic-bezier(0.2, 0, 0, 1);
}
.nav__frame:nth-child(1) {
  transform: translate3d(8px, -4px, 0) rotate(-5deg) scale(1);
}
.nav__frame:nth-child(1):hover {
  transform: translate3d(8px, -4px, 0) rotate(-9deg) scale(1.05);
}
.nav__frame:nth-child(2) {
  transform: translate3d(-50px, 8px, 0) rotate(3deg) scale(1);
}
.nav__frame:nth-child(3) {
  max-width: 500px;
  transform: translate3d(-30px, -50px, 0) rotate(-15deg) scale(1);
  box-shadow: 10px 10px 10px 10px yellow;
}
.nav__frame:nth-child(3):hover {
  transform: translate3d(-30px, -50px, 0) rotate(-12deg) scale(1.03);
}

.lightbox {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
  transition: all 0.3s linear;
  transform: translate3d(0, -100%, 0);
}
.lightbox__img {
  max-width: 80svw;
  max-height: 80svh;
}
body[lightbox=open] .lightbox {
  opacity: 1;
  transform: translate3d(0, 0%, 0);
}

/*# sourceMappingURL=styles.css.map */
