.list {
	&--appear {
		position: relative;
		list-style: none;
		padding: 0 0;
		width: 100%;

		padding: 2rem 0;
		& > .item {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			margin: 0 0;
			opacity: 0;
			transform: translate3d(0, var(--y), 0);
			transition: opacity 0.2s ease-in,
				transform 0.7s cubic-bezier(0.1, 0, 0, 1);
			display: flex;
			justify-content: center;
			align-items: center;

			&[data-position="prev"] {
				--y: 100%;
			}

			&[data-position="next"] {
				--y: -100%;
			}

			&[data-active="true"] {
				opacity: 1;
				transform: translate3d(0, 0%, 0);
			}
		}
	}
}
