input {
  width: 100%;
  height: 40px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: url("@/assets/images/gui/drag--bg.png");
  background-repeat: no-repeat;
  background-size: 100% 20px;
  background-position: center center;
  cursor: pointer;
  overflow: hidden;
  box-shadow: none;
}

input:focus-visible,
input:hover {
  --p: 25%;
  box-shadow: none;
}

/* chromium */
input[type="range" i]::-webkit-slider-thumb {
  background: url("@/assets/icons/icon__pagination-active.png");
  background: url("@/assets/images/gui/drag--thumb.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 70px;
  height: 40px;
  -webkit-appearance: none;
  appearance: none;
  transition: 0.3s;
  box-shadow: none;
}

input:focus {
}

/* Firefox */
input[type="range"]::-moz-range-thumb {
  background: url("@/assets/icons/icon__pagination-active.png");
  background: url("@/assets/images/gui/drag--thumb.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 70px;
  height: 40px;
  -webkit-appearance: none;
  appearance: none;
  transition: 0.3s;
  box-shadow: none;
}
