html,
body {
  margin: 0 0;
}

body {
  background-color: #e8e3d1;
  padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px) env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px) !important;
}

body,
main {
  min-width: 100svw;
  min-height: 100dvh;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.background {
  &--base {
    transition: 0.2s linear;
    background-color: #e8e3d1;
  }

  &--lightblue {
    transition: 0.2s linear;
    background-color: #dae6e5;
  }
  &--blue {
    transition: 0.2s linear;
    background-color: var(--blue);
  }
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: max-content;
  margin: 0 auto;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include break($break--mobile) {
    height: auto;
    max-width: 100%;
  }

  &--sm {
    max-width: max(80vw, 800px);
  }
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}
