.grid {
  display: grid !important;
  grid-template-columns: repeat(6, 1fr);
  gap: $grid--gap;
  height: 100%;
  grid-auto-rows: 1fr;

  @media screen and (max-width: 800px) {
    gap: 1rem;
  }

  .cell {
    grid-column-end: span 3;
    margin: 0 0;
    height: 100%;
    border: 1px solid blue;
  }

  @for $i from 1 through 6 {
    .cell--w-#{$i} {
      grid-column-end: span $i;
    }

    .cell--h-#{$i} {
      grid-row-end: span $i;
    }
  }
}
