$chapter1-duration: 5;


// Fallback fade transitions
.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s;
  position: absolute;
  left: 0;
  width: 100%;
}

.fade-enter-from .fade-leave {
  opacity: 1;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}


// Chapter 1 page in
.chapter-1-enter-active {
  transition: opacity 30s;

  .frame__background,
  .frame__outline,
  .f-s-snow__text,
  .f-s-snow__person, 
  .f-s-snow__snow {

    transition: opacity 4s linear 3s;
  }

  .frame__background {
    transition-delay: 5s;
  }

  .f-s-snow__text {
    transition-delay: 12s;
  }

  .f-s-snow__person {
    transition-delay: 8s;
  }
}


.chapter-1-leave-active {
  transition: opacity 10s;
}

// from intro to chapter 1: disappear the intro
.chapter-1-leave-to .intro {

  // all the zero opacities
  .frame__button,
  .frame__outline,
  .intro__text--middle,
  .intro__text--bottom,
  .frame__background {
    opacity: 0;
  }

  .frame__outline {
    filter: blur(1px);
  }
}