// dont know why, maar deze zijn allemaal nodig..
.page-enter-from swiper-container::part(pagination) {
  transition: transform 0.8s cubic-bezier(0.2, 0, 0, 1) 2s;
  transform: translate3d(30px, -50%, 0) !important;
}

.page-enter-to swiper-container::part(pagination) {
  transition: transform 0.8s cubic-bezier(0.2, 0, 0, 1) 4s;
  transform: translate3d(0px, -50%, 0) !important;
}

.page-leave-to swiper-container::part(pagination) {
  transition: transform 0.8s cubic-bezier(0.2, 0, 0, 1) 0s;
  transform: translate3d(30px, -50%, 0) !important;
}

.page-leave-from swiper-container::part(pagination) {
  transition: transform 0.8s cubic-bezier(0.2, 0, 0, 1) 2s;
  transform: translate3d(0px, -50%, 0) !important;
}

.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.4s;
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
  }
}

.page-back {
  &-leave-active {
    transition: all 0.8s cubic-bezier(0.2, 0, 0, 1) 0s;
  }

  &-enter-active {
    transition: all 0.8s cubic-bezier(0.2, 0, 0, 1) 0.2s;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
  }
}

.prikbord {
  &-enter,
  &-leave-from {
    transform: translate3d(-50%, -200%, 0);

    @include break($break--mobile) {
      transform: translate3d(0%, -200%, 0);
    }
  }

  &-enter-to {
    transform: translate3d(-50%, -59%, 0);
  }

  &-enter-active {
    transition: transform 0s ease;
  }

  &-leave-active {
    transition:
      transform 0.8s cubic-bezier(0.88, -0.1, 0.32, 1.8),
      opacity 10s ease;
  }

  &-enter-from,
  &-leave-to {
    transform: translate3d(-50%, -200%, 0) !important;

    @include break($break--mobile) {
      transform: translate3d(0%, -200%, 0) !important;
    }
  }
}

:root {
  --pt-start-delay: 0s;
}

body:has(.page-leave-active[page-name="start"]) {
  // boy, we've got a start! got to start a bit later then.
  --pt-start-delay: 4s;
}

.page {
  &-enter-active,
  &-leave-active {
    // It takes this amount of time for a page to leave.
    --pt-duration: 3s;

    // all the delays
    &[page-name="chapter-1"] {
      .f-s-snow__person,
      .frame__background,
      .f-s-snow__snow-wrapper,
      .f-s-snow__text,
      .frame__outline,
      .swiper-pagination {
        transition: opacity 2s;
      }

      .frame__outline {
        transition-delay: calc(var(--pt-start-delay) + 1s);
      }

      .f-s-snow__person,
      .frame__background {
        transition-delay: calc(var(--pt-start-delay) + 4s);
      }

      .f-s-snow__text,
      .swiper-pagination {
        transition-delay: calc(var(--pt-start-delay) + 6s);
      }
    }

    &[page-name="start"],
    &[page-name="chapter-1"],
    &[page-name="chapter-1-page-2"],
    &[page-name="chapter-1-page-3"] {
      transition: all 2.8s cubic-bezier(0.2, 0, 0, 1);
    }
  }

  &-enter-active {
    &[page-name="chapter-1"],
    &[page-name="chapter-1-page-2"],
    &[page-name="chapter-1-page-3"] {
      transition-delay: 1s;
    }
  }

  &-enter-from {
    &[page-name="chapter-1-page-2"] {
    }
  }

  // all the styles when invisible
  &-enter-from,
  &-leave-to {
    &[page-name="chapter-1"] {
      .f-s-snow__person,
      .frame__background,
      .f-s-snow__snow-wrapper,
      .f-s-snow__snow-wrapper,
      .f-s-snow__text,
      .frame__outline {
        opacity: 0;
      }
    }

    &[page-name="chapter-1-page-2"],
    &[page-name="chapter-1-page-3"] {
      opacity: 0;
      transform: translate3d(0, 24px, 0);
    }

    // Intro frame styles are in frames/intro.scss
  }
}
