@font-face {
  font-family: "Nik";
  src:
    local("../assets/fonts/Nik.otf"),
    url("../assets/fonts/Nik.otf") format("opentype"),
    url("../assets/fonts/Nik.otf") format("woff");
}

:root {
  font-size: 16px;

}
body {
  font-family: $font-family;
  text-align: center;
  line-height: 1.5;
  font-size: 1rem;
}

h1 {

}

h2 {
  font-size: 1.5rem;
}

a {
  color: inherit;
}

.system {
  // font-family: monospace;
  font-size: 14px;
  margin-top: 2px;
}