@font-face {
	font-family: "Nik";
	src:
		local("../assets/fonts/Nik.otf"),
		url("../assets/fonts/Nik.otf") format("opentype"),
		url("../assets/fonts/Nik.otf") format("woff");
}

:root {
	font-size: 16px;
}
body {
	font-family: $font-family;
	text-align: center;
	line-height: 1.5;
	font-size: 1rem;
}

h1 {
}

h2 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
	font-weight: bold;
}

a {
	color: inherit;
}

.system {
	font-family: serif;
	font-size: 14px;
	margin-bottom: 0.05rem;
}

.text--center {
	text-align: center;
}

.text--left {
	text-align: left;
}

p, blockquote {
    line-height: 1.7;
    margin-bottom: 1rem;
}

blockquote {
    text-align: right;
    font-weight: bold;
    font-size: 150%;
}
