@font-face {
  font-family: "Nik";
  src:
    local("/public/assets/fonts/Nik.otf"),
    url("/public/assets/fonts/Nik.otf") format("opentype"),
    url("/public/assets/fonts/Nik.otf") format("woff");
}

body {
  font-family: "Nik";
  text-align: center;
  line-height: 1.5;
}